@font-face {
  font-family: fate;
  src: url('/font/Fate-Core-Font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.game-term {font-weight: 700;background-color:rgb(236, 243, 140);}
em {font-style:normal;background-color:rgba(207, 233, 245, 0.418);}
.fate-font {font-family: fate;font-weight: 400;padding: 2px;vertical-align: middle;}
.big {font-size: 2em;line-height: 1.2em;}