@font-face {
  font-family: fate;
  src: url('/font/Fate-Core-Font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.game-term {font-weight:700;background-color:rgb(236, 243, 140);}
em {font-style:normal;background-color:rgba(207, 233, 245, 0.65);padding-left:5px;padding-right:5px}
.fate-font {font-family:fate;font-weight:400;padding-left:2px;padding-right:2px;vertical-align:top;}
.big {font-size:2em;line-height:1.2em;}